# Project exclude paths
/csr-eureka/target/
/csr-security/target/

# IntelliJ project files
.idea
*.iml
out
gen
*/target
rebel.xml
/logs/*
/.idea/*
/target/*
css-eureka/src/test/
css-security/src/test/
