<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>menu</title>
    <meta name="description" content="健康">
    <meta name="keywords" content="健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/plugins/elementui/index.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统设置<small>菜单管理</small>
            <el-button
                type="text"
                size="mini"
                @click="addFirst()">
            添加
        </el-button></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <el-tree
                :data="menudata"
                show-checkbox
                >
      <span slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
            <span>
              <el-button
                      type="text"
                      size="mini"
                      @click="handleAdd(node,data)">
                添加
              </el-button>
                <el-button
                        type="text"
                        size="mini"
                        @click="handleUpdate(node,data)">
                修改
              </el-button>
              <el-button
                      type="text"
                      size="mini"
                      @click="remove(node, data)">
                删除
              </el-button>
            </span>
        </span>
    </el-tree>

    <el-dialog title="添加菜单"
               :visible.sync="dialog4AddVisible"
               width="30%"
               center>

            <el-form ref="form" :model="formData" label-width="80px">

                   <el-form-item label="菜单名称">
                       <el-input v-model="formData.name"></el-input>
                   </el-form-item>

                   <el-form-item label="菜单链接">
                       <el-input v-model="formData.linkUrl"></el-input>
                   </el-form-item>

                    <el-form-item style="text-align: match-parent">
                        <el-button @click="dialog4AddVisible = false">取消</el-button>
                        <el-button type="primary" @click="add()">立即创建</el-button>
                    </el-form-item>

            </el-form>

    </el-dialog>

    <el-dialog title="添加菜单"
               :visible.sync="dialog4UpdateVisible"
               width="30%"
               center>

        <el-form ref="form" :model="formData" label-width="80px">

            <el-form-item label="菜单名称">
                <el-input v-model="formData.name"></el-input>
            </el-form-item>

            <el-form-item label="菜单链接">
                <el-input v-model="formData.linkUrl"></el-input>
            </el-form-item>

            <el-form-item style="text-align: match-parent">
                <el-button @click="dialog4UpdateVisible = false">取消</el-button>
                <el-button type="primary" @click="update()">立即创建</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>

</div>
</body>
<!-- 引入组件库 -->
<script src="../static/js/vue.js"></script>
<script src="../static/plugins/elementui/index.js"></script>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script>
    new Vue( {
        el: "#app",
        data: {
            menudata: [
                {
                    id: 1, label: "一级菜单1", children: [
                        {id: 4, label: "二级菜单-1", children: []},
                        {id: 5, label: "二级菜单-2", children: []},
                    ]
                },
                {id: 2, label: "一级菜单1", children: []},
                {id: 3, label: "一级菜单1", children: []}
            ],
            dialog4AddVisible: false,
            dialog4UpdateVisible:false,
            formData: {}
        },
        created(){
          this.findMenu();
        },
        methods: {
            // 添加子菜单弹框
            handleAdd(node,data) {
                console.log(data.id);
                // 清空表单
                this.formData = {};
                // 将父菜单id给formData
                this.formData.parentMenuId = data.id;
                // 显示添加弹层
                this.dialog4AddVisible = true;
            },
            // 添加二级菜单
            addFirst(){
                // 清空表单
                this.formData = {};
                // 显示添加弹层
                this.dialog4AddVisible = true;
            },
            // 编辑弹框
            handleUpdate(node,data){
              // 回显数据
              axios.get("/menu/findMenuById.do?id=" + data.id).then((res)=>{
                  console.log(res.data.data);
                  this.formData = res.data.data;
                  this.dialog4UpdateVisible = true;
              })
            },
            // 添加菜单
            add(){
                /*
                 *          const newChild = { id: id++, label: 'testtest', children: [] };
                            if (!data.children) {
                              this.$set(data, 'children', []);
                            }
                            data.children.push(newChild);
                * */
                console.log(this.formData);
                // 发送ajax请求将数据发送到后台
                axios.post("/menu/add.do",this.formData).then((res)=>{
                    // 隐藏弹框
                    this.dialog4AddVisible = false;
                    if (res.data.flag){
                        // 添加成功
                        this.$message.success(res.data.message);
                        // 刷新页面
                        this.findMenu();
                    } else {
                        // 添加失败
                        this.$message.error(res.data.message);
                    }
                })
            },
            // 编辑
            update(){
                // 发送ajax请求将数据发送到后台
                axios.post("/menu/update.do",this.formData).then((res)=>{
                    // 隐藏弹框
                    this.dialog4UpdateVisible = false;
                    if (res.data.flag){
                        // 编辑成功
                        this.$message.success(res.data.message);
                        // 刷新页面
                        this.findMenu();
                    } else {
                        // 编辑失败
                        this.$message.error(res.data.message);
                    }
                })
            },
            // 刷新页面
            findMenu(){
                // 发送ajax请求获取菜单数据
                axios.get("/menu/getAll.do").then((res)=>{
                    console.log(res.data.data);
                    // 将数据赋值给menudata
                    this.menudata = res.data.data;
                })
            },

            // 删除
            remove(node, data) {
                // 发送ajax请求删除数据
                axios.get("/menu/remove.do?id=" + data.id).then((res)=>{
                    if (res.data.flag){
                        // 删除成功
                        this.$message.success(res.data.message);
                        // 刷新页面
                        this.findMenu();
                    } else {
                        // 删除失败
                        this.$message.error(res.data.message);
                    }
                })
            }
        }
    });
</script>
</html>