<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>role</title>
    <meta name="description" content="客服系统">
    <meta name="keywords" content="客服系统">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugins/elementui/index.css">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统设置<small>角色管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>



    <div class="app-container">

        <div class="box">

            <div class="app-container common-list-page">

            <el-form
                    :model="resetForm"
                    ref="resetForm"
                    :rules="resetFormRules"
                    status-icon
                    label-width="100px"
            >
                <el-form-item label="旧密码：" prop="password">
                    <el-input type="password" v-model="resetForm.password" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码：" prop="newpwd">
                    <el-input type="password" v-model="resetForm.newpwd" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码：" prop="newpassword1">
                    <el-input type="password" v-model="resetForm.newpassword1" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click.native.prevent="toAmend">确认修改</el-button>
                </el-form-item>
            </el-form>
        </div>



            </div>

        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="plugins/elementui/index.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>

    var vue = new Vue({
        el: '#app',
        data() {
            var validatePass = (rule, value, callback) => {
                if (!value) {
                    callback(new Error("请输入新密码"));
                } else if (value.toString().length < 6 || value.toString().length > 18) {
                    callback(new Error("密码长度为6-18位"));
                } else {
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === "") {
                    callback(new Error("请再次输入密码"));
                } else if (value !== this.resetForm.newpwd) {
                    callback(new Error("两次输入密码不一致!"));
                } else {
                    callback();
                }
            };
            return {
                resetForm: {
                    //传给后台所需要的参数
                    newpassword1: "",
                    password: "",
                    username: ""//此处只是后台需要的字段而已，如果前期有公用cookie里面有获取并且保存过，现在需要另外调用进来，具体的获取方法就看个人了
                },
                resetFormRules: {
                    password: [
                        { required: true, message: "请输入旧密码", trigger: 'blur' }
                    ],
                    newpwd: [
                        { required: true, validator: validatePass, trigger: 'blur' }
                    ],
                    newpassword1: [
                        { required: true, validator: validatePass2, trigger: "blur" }
                    ]
                }
            };
        },
        methods: {
            toAmend() {
                this.$refs.resetForm.validate(valid => {
                    if (valid) {

                        // 发送请求
                        axios.post("/pwd/update",this.resetForm).then((response)=> {
                            if (response.data.flag) {
                                // 编辑成功，弹出成功提示信息
                                this.$message({
                                    message: response.data.message,
                                    type: 'success'
                                });
                                this.logout();
                            } else {
                                // 编辑失败，弹出错误提示
                                this.$message.error(response.data.message);
                            }
                        })

                        //这里的api.materialQuery.toAmend是调用前期我们统一的api接口url路径，不作参考 ，只要把后台需要的字段正常传进去即可
                        // api.materialQuery.toAmend(this.resetForm)
                        //     .then(res => {
                        //         if(res.code === 2){
                        //             this.$message({
                        //                 message: res.msg,
                        //                 type: "error",
                        //                 duration: "2000"
                        //             });
                        //             return false;
                        //         }
                        //         if (res.code === 0) {
                        //             this.$message.success("修改成功,3秒后跳转到登录页！");
                        //             setTimeout(() => {
                        //                 this.logout();//调用跳转到登陆页的方法
                        //             }, 3000);
                        //         }
                        //         ic
                        //     })
                        //     .catch(() => {});
                    }
                });
            },
            //这是修改成功后重新返回登陆页的方法，看个人需要自行调整
            async logout() {
                await this.$store.dispatch("user/logout");
                this.$router.push(`/login`);
            }
        },
    })


</script>
</html>