<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="css.security.mapper.PermissionMapper">

    <select id="selectAllKeywords" resultType="java.lang.String">
        select keyword from t_permission;
    </select>
</mapper>